<h1>Password Generator</h1>

<div>
  <label for="length">Enter Length</label>
  <input (input)="onChangeLength($event)" />
</div>

<div>
  <label for="use_letters">Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()" />
</div>

<div>
  <label for="use_numbers">Use Numbers</label>
  <input type="checkbox" (change)="onChangeUseNumbers()" />
</div>

<div>
  <label for="use_symbols">Use Symbols</label>
  <input type="checkbox" (change)="onChangeUseSymbols()" />
</div>

<div>
  <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))"
    (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label for="your_password">Your Password</label>
  <input type="text" [value]="password" />
</div>
